package {{packages}}

import com.akvelon.client.model.request.RequestBody;
{{importClass}}

public final class {{className}} extends RequestBody {
    {{#requestProperties}}
    public void set{{methodName}}({{valueClass}} value) {
        setParameter("{{property}}", value);
    }
    {{/requestProperties}}
}