package {{packages}}

import com.akvelon.client.model.request.RequestBody;
import com.akvelon.client.model.response.Value;

public final class {{className}} extends RequestBody {
    {{#properties}}
    public void add{{methodName}}(Value value) {
        addParameter("{{property}}", value);
    }
    {{/properties}}
}