package {{packages}}

import com.akvelon.client.model.common.*;
import com.akvelon.client.model.response.ResponseBody;
import com.akvelon.client.model.common.DataType;

import java.util.List;

public final class {{className}} extends ResponseBody {
    public {{className}}({{#responseProperties}}{{type}} {{argument}}{{/responseProperties}}) {
        super({{#responseProperties}}{{responseConstructorFirstArg}}, {{responseConstructorSecondArg}}{{/responseProperties}});
    }
}